.title{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  padding: 1rem;
  background-color: #0c54a0;
  border-radius: 5px;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
}