.form {
  width: 840px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  &__subtitle {
    font-weight: 700;
  }
}
.field {
  display: flex;
  gap: 2rem;
  &__name {
    width: 200px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  &__action {
    flex-grow: 1;
    position: relative;
    display: flex;
    &_column {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__subtitle {
    font-size: 14px;
    font-weight: 700;
  }
  &__error-icon {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: rgb(247, 95, 95);
    border-radius: 30px;
    left: -1rem;
    top: 50%;
    transform: translate(0, -50%);
  }
  &__error-text {
    align-self: center;
    color: rgb(247, 95, 95) !important;
    margin: 0 0 0 0.5rem;
    font-size: 12px;
  }
  &__cords {
    display: flex;
    gap: 2rem;
    padding-left: 1rem;
  }
}
